$paragraph-background: #ededed;
$paragraph-padding: 15px;
$paragraph-margin: 10px;

html,
body {
  margin: 0;
  padding: 0;
}

p {
  background: $paragraph-background;
  margin: $paragraph-margin 0;
  padding: $paragraph-padding;
}

.header {
  background: $paragraph-background;
  display: flex;
  justify-content: space-between;
  padding: $paragraph-padding;
}

.content-section {
  padding: $paragraph-padding;
}

.menu {
  display: flex;

  li {
    list-style-type: none;
    margin-left: $paragraph-padding;
  }
}
