
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */